<%- model_class = Counter -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Multiple</th>
      <th>Display Word</th>
    </tr>
  </thead>
  <tbody>
    <% @counters.each do |counter| %>
      <tr>
        <td><%= counter.multi %></td>
        <td><%= counter.word %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      counter_path(counter),
                      :method => :delete,
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_counter_path,
            :class => 'btn btn-success' %><br><br>

<div>
<% 1.upto(100) do |i| %>
      <% output = @counters.map { |counter| counter.word if i % counter.multi == 0 }.join %>
      <%= output.length > 0 ? output : i %>
<% end %>
</div>

